html, body {
    margin: 0;
    padding: 0;
  }
  canvas {
    display: block;
    border-radius: 10px;
    box-shadow: 0 0 26px purple;
    border: double black;
  }
  
  
  a {
      color: white;
      text-decoration: none;
  }
  
  footer img {
      width: 40px;
      height: 40px;
  }
  
  footer {
      display: flex;
      justify-content: left;
  }
  
  footer a {
      margin: 20px;
      text-align: center;
  }
  
  footer p {
      margin-top: 2px;
    
  }
  
  p{
    font-size: 16px;
    color: green;
  }
  
  .texto{
      font-size: 30px;
      text-transform: uppercase;
  
      background: linear-gradient(45deg, #638ED1, #ff0000, #009688,#44E3D3);
      background-size: 400% 100%;
      animation: degrade 10s linear infinite alternate;
  
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
  
      outline: none;
  }
  
  @keyframes degrade {
      0%{
          background-position-x: 0%;
      }
  
      100%{
          background-position: 400%;
      }
  }
  